/*
Site du groupe The Arcadian's CSS BY AFFINITIC
*/
html{
background: rgb(181,189,200); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body{
background-color:transparent;
}

#header,
#portal-breadcrumbs,
#parent-fieldname-title{
display:none;
}


#left-column{
float:left;
width:20%;
margin-left:20px;
}

#main-column{
float:right;
width:75%;
margin-right:20px;
}

h1{
color:rgba(0,0,0,0);
}

#main-column-large {
float:none;
border:1px solid #000;
border-radius:18px;
width:1100px;
height:805px;
margin:auto;
margin-top:40px;
text-align:center;
background:url(../images/fond.jpg);
box-shadow:10px 10px 20px rgba(50,50,50,0.5),
           -10px 0px 20px rgba(50,50,50,0.5);
}
